#ak1:first-letter
 {
 color:silver;
 font-size:117pt;
 }
 #ak1{
     color:turquoise;
     font-size:20pt;
 }
h1:first-letter{
    color:silver;
    font-size: 25mm;
}
h1{
    color:darkblue;
    font-size: 10mm;
}
#akapit4:first-line{
    font-size:15mm;
	color:red;
}
#akapit4{
    color:blue;
}
#p2:first-letter{
	color:yellow;
	font-size:117pt;
}
#p2{
	color:turquoise;
}